/* Playlists QoL */
#playlists li.sound .sound-name.furnace-qol {
  max-width: unset;
  margin-right: 3px;
}

#playlists li.sound .sound-controls.furnace-qol {
  flex: 0 1 auto;
  flex-wrap: nowrap;
  min-width: 36px;
}
#playlists .playlist-sounds {
  max-width: 100%;
}

#playlists .directory-list .now-playing {
  border-top: 1px solid #f20;
  background-color: rgba(255, 100, 0, 0.1);
}
#playlists li.sound.sound-is-playing {
  background-color: rgba(255, 100, 0, 0.2);
}
#playlists li.playlist.now-playing-item {
  border-top: 0px;
  border-bottom: 0px;
  padding: unset;
}
.sound-control-hidden {
  display: none;
}

/* Combat QoL */
#combat li.combatant.turn-done {
  color: #888;
  text-decoration: line-through;
}

/* Tokens QoL */
form.furnace-drop-actors .form-group input {
  flex: 0 1;
}
form.furnace-drop-actors .form-group i {
  flex: 1 1;
}

/* Macro syntax highlighting */
.macro-sheet .form-group.command .furnace-macro-command {
    position: relative;
    border: 1px solid black;
    height: calc(100% - 2rem);
}

.macro-sheet .form-group.command .furnace-macro-command.fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 10rem);
    height: calc(100% - 10rem);
    margin: 5rem;
    background: url(../../ui/parchment.jpg) repeat;
}
.macro-sheet .form-group.command textarea {
    width: 100%;
    height: 100%;
}

.macro-sheet .form-group.command .furnace-macro-expand {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    margin: 3px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10;
}

.macro-sheet .form-group.command .furnace-macro-command textarea,
.macro-sheet .form-group.command .furnace-macro-command code {
    position: relative;
    background: transparent;
    font-size: 14px;
    border: 0px;
    margin: 0px;
    padding: 5px;
    line-height: 21px;
    font-family: Consolas,Liberation Mono,Courier,monospace;
}

.macro-sheet .form-group.command .furnace-macro-command textarea {
    z-index: 10;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    resize: none;
}
.macro-sheet .form-group.command .furnace-macro-command pre {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 9;
    overflow: hidden;
}
.macro-sheet .form-group.command .furnace-macro-command textarea,
.macro-sheet .form-group.command .furnace-macro-command pre {
	white-space: pre-wrap;  
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.furnace-macro-run-as-gm {
    position: relative;
}
.furnace-macro-run-as-gm .tooltip {
    display: block;
    min-width: 148px;
    padding: 2px 4px;
    position: absolute;
    top: -55px;
    left: 25px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #191813;
    border-radius: 3px;
    color: #f0f0e0;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    word-break: break-all;