<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="notes">Configure this Drawing.</p>

    <div class="form-group">
        <label>Drawing Type</label>
        <select name="type" data-dtype="String"
        {{#unless enableTypeSelection}} disabled {{/unless}}>
            {{#select object.type}}
            {{#each drawingTypes as |type t|}}
            <option value="{{t}}">{{type}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{#unless enableTypeSelection}} 
    <div class="form-group">
        <label for="x">X-Position <span class="units">(pixels)</span></label>
        <input type="text" name="x" value="{{object.x}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
      <label for="y">Y-Position <span class="units">(pixels)</span></label>
      <input type="text" name="y" value="{{object.y}}" data-dtype="Number"/>
  </div>

  <div class="form-group">
      <label for="z">Z-Position</label>
      <input type="text" name="z" value="{{object.z}}" data-dtype="Number"/>
  </div>

    <div class="form-group">
        <label for="width">Width <span class="units">(pixels)</span></label>
        <input type="text" name="width" value="{{object.width}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label for="height">Height <span class="units">(pixels)</span></label>
        <input type="text" name="height" value="{{object.height}}" data-dtype="Number"/>
    </div>
    {{/unless}}
    <div class="form-group">
        <label for="rotation">Rotation <span class="units">(degrees)</span></label>
        <input type="text" name="rotation" value="{{object.rotation}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
      <label>Bezier smoothing factor:</label>
      <input type="range" name="bezierFactor" value="{{object.bezierFactor}}" min="0" max="1" step="0.05" data-dtype="Number"/>
    </div>

    <div class="text-section">
      <hr>

      <div class="form-group">
          <label>Font</label>
          <select name="fontFamily" data-dtype="String">
              {{#select object.fontFamily}}
              {{#each availableFonts as |font f|}}
              <option value="{{f}}">{{font}}</option>
              {{/each}}
              {{/select}}
          </select>
      </div>
      <div class="form-group">
        <label for="fontSize">Font Size </label>
        <input type="text" name="fontSize" value="{{object.fontSize}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
          <label>Text Content</label>
          <textarea name="text" data-dtype="String">{{object.text}}</textarea>
      </div>
  
    </div>
    <div class="stroke-section">
      <hr>
      <div class="form-group">
        <label for="strokeWidth">Stroke Width <span class="units">(pixels)</span></label>
        <input type="text" name="strokeWidth" value="{{object.strokeWidth}}" data-dtype="Number"/>
      </div>

      <div class="form-group">
        <label>Stroke Color:</label>
        <input type="color" name="strokeColor" value="{{object.strokeColor}}" data-dtype="String"/>
      </div>

      <div class="form-group">
        <label>Stroke Opacity:</label>
        <input type="range" name="strokeAlpha" value="{{object.strokeAlpha}}" min="0" max="1" step="0.05" data-dtype="Number"/>
      </div>
    </div>

    <div class="fill-section">
      <hr>
      <div class="form-group">
        <label>Fill Type</label>
        <select name="fillType" data-dtype="Number">
            {{#select object.fillType}}
            {{#each fillTypes as |type t|}}
            <option value="{{t}}">{{type}}</option>
            {{/each}}
            {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label>Fill Color:</label>
        <input type="color" name="fillColor" value="{{object.fillColor}}" data-dtype="String"/>
      </div>

      <div class="form-group">
	<label>Fill Opacity:</label>
        <input type="range" name="fillAlpha" value="{{object.fillAlpha}}" min="0" max="1" step="0.05" data-dtype="Number"/>
      </div>
    </div>

    <div class="texture-section">
      <hr>
      <div class="form-group">
        <label>Drawing Texture:</label>
        {{filePicker target="texture" type="image"}}
        <input class="image" type="text" name="texture" placeholder="path/image.png" value="{{object.texture}}" data-dtype="String"/>
      </div>

      <p class="notes">You can set a tint to the texture with the Fill Color and Opacity. To remove the tint, simply set Fill Opacity to 0.</p>
      <p class="notes"><strong>Remember to lower or zero the fill/stroke opacity for the texture to appear.</strong></p>

      <div class="form-group">
        <label>Texture Opacity:</label>
        <input type="range" name="textureAlpha" value="{{object.textureAlpha}}" min="0" max="1" step="0.05" data-dtype="Number"/>
      </div>


      <div class="form-group">
        <p class="notes">Set the width and height to 0 for the tiled pattern to retain the original image size, or override the tiled image's size here.</p>

        <label for="width">Texture Width</label>
        <input type="text" name="textureWidth" value="{{object.textureWidth}}" data-dtype="Number"/>
      </div>

      <div class="form-group">
        <label for="height">Texture Height</label>
	<input type="text" name="textureHeight" value="{{object.textureHeight}}" data-dtype="Number"/>
      </div>

    </div>

    <hr>
    <div style="display: flex;">
      <button type="button" name="reset" value="1"><i class="fas fa-sync"></i> Reset to Default</button>
      <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{submitText}} </button>
    </div>
</form>
<!--This is just to take up empty space after the form, helps with recalculating heights -->
<div class="empty-space"></div>