<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault();">

    <div class="form-group">
        <label>{{localize "FURNACE.DRAWINGS.type"}}</label>
        <select name="type" data-dtype="String"
        {{#unless enableTypeSelection}} disabled {{/unless}}>
            {{#select object.type}}
            {{#each drawingTypes as |type t|}}
            <option value="{{t}}">{{type}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    
    <!-- Sheet Navigation Tabs -->
    <nav class="sheet-tabs tabs">
        {{#unless enableTypeSelection}} 
        <a class="item" data-tab="position"><i class="fas fa-map-marker-alt"></i> {{localize "DRAWING.TabPosition"}}</a>
        {{/unless}}
        <a class="item" data-tab="settings"><i class="fas fa-paint-brush"></i> {{localize "FURNACE.DRAWINGS.tabSettings"}}</a>
        <a class="item" data-tab="texture"><i class="fas fa-fill-drip"></i> {{localize "FURNACE.DRAWINGS.tabTexture"}}</a>
    </nav>


    {{#unless enableTypeSelection}} 
    <!-- Position Tab -->
    <div class="tab" data-tab="position">
        <p class="notes">{{localize "FURNACE.DRAWINGS.positionHint"}}</p>
        
        <div class="form-group">
            <label for="x">{{localize "FURNACE.DRAWINGS.xPosition"}} <span class="units">{{localize "FURNACE.DRAWINGS.pixelsUnit"}}</span></label>
            <input type="text" name="x" value="{{object.x}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
          <label for="y">{{localize "FURNACE.DRAWINGS.yPosition"}} <span class="units">{{localize "FURNACE.DRAWINGS.pixelsUnit"}}</span></label>
          <input type="text" name="y" value="{{object.y}}" data-dtype="Number"/>
      </div>

      <div class="form-group">
          <label for="z">{{localize "FURNACE.DRAWINGS.zPosition"}}</label>
          <input type="text" name="z" value="{{object.z}}" data-dtype="Number"/>
      </div>

        <div class="form-group">
            <label for="width">{{localize "Width"}} <span class="units">{{localize "FURNACE.DRAWINGS.pixelsUnit"}}</span></label>
            <input type="text" name="width" value="{{object.width}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label for="height">{{localize "Height"}} <span class="units">{{localize "FURNACE.DRAWINGS.pixelsUnit"}}</span></label>
            <input type="text" name="height" value="{{object.height}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label for="rotation">{{localize "Rotation"}} <span class="units">{{localize "FURNACE.DRAWINGS.degreesUnit"}}</span></label>
            <input type="text" name="rotation" value="{{object.rotation}}" data-dtype="Number"/>
        </div>
    </div>
    {{/unless}}
    

    <!-- Settings Tab -->
    <div class="tab" data-tab="settings">
      <p class="notes">{{localize "FURNACE.DRAWINGS.settingsHint"}}</p>

      <div class="text-section">
        <hr>

        <div class="form-group">
            <label>{{localize "DRAWING.FontFamily"}}</label>
            <select name="fontFamily" data-dtype="String">
                {{#select object.fontFamily}}
                {{#each availableFonts as |family font|}}
                <option value="{{family}}">{{font}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-group">
          <label for="fontSize">{{localize "DRAWING.FontSize"}} </label>
          <input type="text" name="fontSize" value="{{object.fontSize}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label>{{localize "FURNACE.DRAWINGS.textContent"}}</label>
            <textarea name="text" data-dtype="String">{{object.text}}</textarea>
        </div>
        
        <div class="form-group">
          <label>{{localize "DRAWING.TextColor"}}</label>
          <input type="color" name="textColor" value="{{object.textColor}}" data-dtype="String"/>
        </div>

        <div class="form-group">
          <label>{{localize "DRAWING.TextOpacity"}}</label>
          <input type="range" name="textAlpha" value="{{object.textAlpha}}" min="0" max="1" step="0.05" data-dtype="Number"/>
          <span class="range-value">{{floor (multiply object.textAlpha 100)}}%</span>
        </div>
    
      </div>
      <div class="stroke-section">
        <hr>
        <div class="form-group">
          <label for="strokeWidth">{{localize "DRAWING.LineWidth"}} <span class="units">{{localize "FURNACE.DRAWINGS.pixelsUnit"}}</span></label>
          <input type="text" name="strokeWidth" value="{{object.strokeWidth}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
          <label>{{localize "DRAWING.StrokeColor"}}</label>
          <input type="color" name="strokeColor" value="{{object.strokeColor}}" data-dtype="String"/>
        </div>

        <div class="form-group">
          <label>{{localize "DRAWING.LineOpacity"}}</label>
          <input type="range" name="strokeAlpha" value="{{object.strokeAlpha}}" min="0" max="1" step="0.05" data-dtype="Number"/>
          <span class="range-value">{{floor (multiply object.strokeAlpha 100)}}%</span>
        </div>

        <div class="form-group">
          <label>{{localize "DRAWING.SmoothingFactor"}}</label>
          <input type="range" name="bezierFactor" value="{{object.bezierFactor}}" min="0" max="1" step="0.05" data-dtype="Number"/>
          <span class="range-value">{{floor (multiply object.bezierFactor 100)}}%</span>
        </div>
      </div>

      <div class="fill-section">
        <hr>
        <div class="form-group">
          <label>{{localize "DRAWING.FillTypes"}}</label>
          <select name="fillType" data-dtype="Number">
              {{#select object.fillType}}
              {{#each fillTypes as |type t|}}
              <option value="{{t}}">{{type}}</option>
              {{/each}}
              {{/select}}
          </select>
        </div>
        <div class="form-group">
          <label>{{localize "DRAWING.FillColor"}}</label>
          <input type="color" name="fillColor" value="{{object.fillColor}}" data-dtype="String"/>
        </div>

        <div class="form-group">
          <label>{{localize "DRAWING.FillOpacity"}}</label>
          <input type="range" name="fillAlpha" value="{{object.fillAlpha}}" min="0" max="1" step="0.05" data-dtype="Number"/>
          <span class="range-value">{{floor (multiply object.fillAlpha 100)}}%</span>
        </div>
      </div>
    </div>

    <div class="tab" data-tab="texture">
        <p class="notes">{{localize "FURNACE.DRAWINGS.textureHint"}}</p>
      <div class="texture-section">
        <hr>
        <div class="form-group">
          <label>{{localize "DRAWING.FillTexture"}}</label>
          {{filePicker target="texture" type="image"}}
          <input class="image" type="text" name="texture" placeholder="path/image.png" value="{{object.texture}}" data-dtype="String"/>
        </div>

        <p class="notes">{{localize "FURNACE.DRAWINGS.textureHint1"}}</p>
        <p class="notes"><strong>{{localize "FURNACE.DRAWINGS.textureHint2"}}</strong></p>

        <div class="form-group">
          <label>{{localize "FURNACE.DRAWINGS.textureOpacity"}}</label>
          <input type="range" name="textureAlpha" value="{{object.textureAlpha}}" min="0" max="1" step="0.05" data-dtype="Number"/>
          <span class="range-value">{{floor (multiply object.textureAlpha 100)}}%</span>
        </div>


        <div class="form-group">
          <p class="notes">{{localize "FURNACE.DRAWINGS.textureSizeHint"}}</p>

          <label for="width">{{localize "FURNACE.DRAWINGS.textureWidth"}}</label>
          <input type="text" name="textureWidth" value="{{object.textureWidth}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
          <label for="height">{{localize "FURNACE.DRAWINGS.textureHeight"}}</label>
          <input type="text" name="textureHeight" value="{{object.textureHeight}}" data-dtype="Number"/>
        </div>

      </div>
    </div>

    <hr>
    <div style="display: flex;">
      <button type="button" name="reset" value="1"><i class="fas fa-sync"></i> {{localize "DRAWING.SubmitReset"}}</button>
      <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{submitText}} </button>
    </div>
</form>
<!--This is just to take up empty space after the form, helps with recalculating heights -->
<div class="empty-space"></div>