<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off">

    <div class="col left">
        <div class="control-icon stroke">
            <label for="strokeColor"><i class="far fa-square" style="color: {{strokeColor}};"></i></label>
            <input id="strokeColor" type="color" name="strokeColor" value="{{strokeColor}}" data-dtype="String" hidden/>
        </div>
        {{#if isText}}
        <div class="control-icon text">
            <label for="textColor"><i class="fas fa-square" style="color: {{textColor}};"></i></label>
            <input id="textColor" type="color" name="textColor" value="{{textColor}}" data-dtype="String" hidden/>
        </div> 
        {{else}}
        <div class="control-icon fill">
            <label for="fillColor"><i class="fas fa-square" style="color: {{fillColor}};"></i></label>
            <input id="fillColor" type="color" name="fillColor" value="{{fillColor}}" data-dtype="String" hidden/>
        </div> 
        {{/if}}
        <div class="control-icon config">
            <i class="fas fa-cog"></i>
        </div> 
    </div>

    <div class="col middle">
    </div>

    <div class="col right">
        <div class="control-icon visibility {{visibilityClass}}">
            <img src="{{icons.visibility}}" width="36" height="36" title='{{localize "HUD.ToggleVis"}}'/>
        </div>

        <div class="control-icon locked {{lockedClass}}">
            <img src="{{icons.lock}}" width="36" height="36" title='{{localize "HUD.ToggleLock"}}'/>
        </div>
        {{#if isText}}
        <div class="control-icon text-autofit">
            <i class="fas fa-compress" width="36" height="36" title='{{localize "FURNACE.DRAWINGS.hudAutoFit"}}'></i>
        </div> 
        {{/if}}

        <div class="control-icon sort-up">
            <img src="{{icons.up}}" width="36" height="36" title='{{localize "HUD.ToFront"}}'/>
        </div>

        <div class="control-icon sort-down">
            <img src="{{icons.down}}" width="36" height="36" title='{{localize "HUD.ToBack"}}'/>
        </div>

        <div class="control-icon mirror-vert {{mirrorVertClass}}">
            <i class="fas fa-arrows-alt-v" width="36" height="36" title='{{localize "FURNACE.DRAWINGS.mirrorVertically"}}'></i>
        </div>

        <div class="control-icon mirror-horiz {{mirrorHorizClass}}">
            <i class="fas fa-arrows-alt-h" width="36" height="36" title='{{localize "FURNACE.DRAWINGS.mirrorHorizontally"}}'></i>
        </div>
    </div>
</form>
