<form autocomplete="off" onsubmit="event.preventDefault();">
    {{#if error}}
        <p class="notes">{{errorMessage}}</p>
    {{else}}
        <p class="notes">Split the journal entry '{{name}}' into multiple entries.</p>

        <div class="form-group">
            <label>Split in new Folder</label>
            <input type="checkbox" name="newFolder" data-dtype="Boolean" checked/>
        </div>
        {{#if hasImage}}
        <div class="form-group">
            <label>Include Journal's image in each new entry</label>
            <input type="checkbox" name="includeImage" data-dtype="Boolean" checked/>
        </div>
        {{/if}}
        <div class="form-group">
            <label>Include page header in each new journal entry</label>
            <input type="checkbox" name="separateHeader" data-dtype="Boolean"/>
        </div>
        <div class="form-group">
            <label>Split on</label>
            <select name="splitter" data-dtype="String">
                {{#select useSplitter}}
                {{#each splitters as |splitter s|}}
                <option value="{{s}}">{{splitter}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-group">
            <div>
            New journal entries ({{newEntries.length}}) :
            </div>
            <div>
                <ul>
                {{#each newEntries}}
                <li>{{this}}</li>
                {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
    <div>
      <button type="submit" name="submit" value="1">{{submitText}} </button>
    </div>
</form>