<form autocomplete="off" onsubmit="event.preventDefault();">
    {{#if error}}
        <p class="notes">{{errorMessage}}</p>
    {{else}}
        <p class="notes">{{localize "FURNACE.SPLIT.description" name=name}}</p>

        <div class="form-group">
            <label>{{localize "FURNACE.SPLIT.newFolder"}}</label>
            <input type="checkbox" name="newFolder" data-dtype="Boolean" checked/>
        </div>
        {{#if hasImage}}
        <div class="form-group">
            <label>{{localize "FURNACE.SPLIT.includeImage"}}</label>
            <input type="checkbox" name="includeImage" data-dtype="Boolean" checked/>
        </div>
        {{/if}}
        <div class="form-group">
            <label>{{localize "FURNACE.SPLIT.separateHeader"}}</label>
            <input type="checkbox" name="separateHeader" data-dtype="Boolean"/>
        </div>
        <div class="form-group">
            <label>{{localize "FURNACE.SPLIT.splitOn"}}</label>
            <select name="splitter" data-dtype="String">
                {{#select useSplitter}}
                {{#each splitters as |splitter s|}}
                <option value="{{s}}">{{splitter}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-group">
            <div>
                {{localize "FURNACE.SPLIT.newEntries" numEntries=newEntries.length}}
            </div>
            <div>
                <ul>
                {{#each newEntries}}
                <li>{{this}}</li>
                {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
    <div>
      <button type="submit" name="submit" value="1">{{submitText}}</button>
    </div>
</form>